.columns {
	display: flex;
	gap: 24px;

	@media (max-width: 768px) {
		flex-wrap: wrap;
	}
}

.profile {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.avatar {
	width: 150px;
	height: 150px;
	border-radius: 8px;
}

.profileBlock {
	display: flex;
	align-items: stretch;
	justify-content: stretch;
	max-height: 40px;
	gap: 8px;
	align-items: center;
}