.image {
	width: 100%;
	height: 720px;
	object-fit: cover;
}

.imageContainer {
	max-width: 1200px;
	margin-bottom: 24px;

	&:has([src="#"]) {
		display: none;
	}
}

.image {
	border-radius: 16px;

	&.noRound {
		border-radius: 0;
	}
}

.container {
	max-width: 1200px;

	&.card {
		background-color: #333;
		padding: 32px;
		border-radius: 16px;
		max-width: 1136px;
	}


	position: relative;
	z-index: 11;

	display: flex;
	flex-direction: column;
	gap: 24px;

	div {
		display: flex;
		gap: 24px;
		flex-direction: column;
	}

	&.upper {
		margin-top: -256px;
	}
}

.info {
	display: flex;
	flex-direction: row !important;
	gap: 8px 24px !important;
	flex-wrap: wrap;
}

.infoBlock {
	display: flex;
	flex-direction: row !important;
	align-items: center;
	gap: 8px !important;
}

.posts {
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding: 0;
	margin: 24px auto;
}